    body {
        min-width: 320px;
        max-width: 100%;
        margin: 0px;
        position: relative;
        font-family: Segoe UI;
        font-style: normal;
    }

    .left-block {
        background: linear-gradient(180deg, #42184F 0%, #9563C0 100%), #7C51A1;
        max-width: 100%;
        max-height: 100%;
    }

    .right-block {
        background-image: url('../images/main_Page/background_img.png');
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
        max-height: 100%;
    }

    .left-block-text {
        font-family: HelveticaNeueCyr;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        border-top: 1px solid #FFFFFF;
    }

    .left-block-logo {
        background-color: #D1D2D4;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
        border-radius: 15px;

    }

    .form-row {
        padding-top: 115px;
        padding-bottom: 72px;
    }


    .nav-link {
        font-family: Roboto;
        margin-right: 55px;
        font-weight: normal !important;
        font-style: normal;
        font-size: 24px;
        line-height: 28px;
        color: #7A7A7A;
    }

    .nav-link:hover {
        font-weight: bold;
        color: #222222;
        border-bottom: 5px solid #2FA2BC;
    }

    .form-text {
        font-family: Helvetica CE;
        font-size: 16px;
        line-height: 25px;
        color: #7A7A7A;
        margin-top: 30px;
    }

    .btn-primary {
        width: 154px;
        height: 41px;
        align-items: center;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .google {
        background: #FFFFFF;
        border: 1px solid #CFD9E0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #222222;
    }

    .facebook {
        background: #3B5998;
    }

    .vkontakte {
        background: #4680C2;
    }

    .text-or {
        font-family: Roboto;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #7A7A7A;
        padding-top: 4px;
    }

    .hr {
        border: 1px solid #CFD9E0;
    }

    .form-control:hover {
        border: 1px solid #2FA2BC;
        box-shadow: none;
    }

    .forgot-password {
        font-family: Helvetica CE;
        font-size: 14px;
        line-height: 25px;
        color: #2FA2BC;
    }

    .sign-in {
        width: 154px;
        height: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(90deg, #2797B6 0%, #54C5CF 100%), #2FA2BC;
        border-radius: 100px;
    }

    .sign-in-main {
        width: 154px;
        height: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(90deg, #2797B6 0%, #54C5CF 100%), #2FA2BC;
        border-radius: 100px;
    }
    .sign-in-main:hover, .sign-in-main:active {
        color: #FFFFFF;
    }

    .form-check-input:checked,
    .form-check-input:hover {
        color: #802882;
        text-decoration: none !important;
    }

    .form-check-input {
        text-decoration: none !important;
    }

    .hr {
        border: 1px solid #CFD9E0;
    }

    .form-control:hover {
        border: 1px solid #2FA2BC;
        box-shadow: none !important;
    }
    @media only screen and (max-width: 1240px) {
       
    
    }

    @media only screen and (max-width : 576px) {
        .personal-settings {
            opacity: 0;
        }
    
        .settings-text {
            align-items: left;
        }
    
        .avatar {
            align-items: flex-start;
        }
    
        .btn-primary {
            margin-bottom: 20px;
        }
    
    }